@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  #333448;
}

/**<-----  Navbar  ----->**/

.navbar{
    padding: 6rem;
}

.navbar-brand .logo{
    width: 250px;
    padding: 0 0 2rem 0;
}

.navbar-nav .nav-link.active{
    font-family: "Poppins";
    color: #00FBCB;
    font-weight: 700;
    font-size: 1.3rem;
}

.navbar-nav .nav-link{
    font-family: "Poppins";
    color: whitesmoke;
    font-size: 1.3rem;
}

@media screen and (max-width: 600px) {

    .navbar{
        padding: 2rem 0 0 2rem;
    }
    

    .home {
        padding: 0rem;
        display: flex;
        flex-direction: column;
    }

    .home h1{
        color: whitesmoke;
        padding: 0px 10px 5px 10px;
        font-family: "Poppins";
        font-weight: 900;
        font-size: 3.2rem;
        width: 100%;
        animation: leftIn 1s ease 0s 1 normal forwards;

    }

    .home p{
        color: whitesmoke;
        padding: 20px 10px 5px 10px;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 1.2rem;
        width: 100%;
        animation: leftIn 1s ease 0s 1 normal forwards;
    }

    button.beta{
        padding: 10px 30px 10px 30px;
        margin: 20px 10px 5px 10px;
        font-family: "Poppins";
        background-color: transparent;
        border: solid 1px white;
        color: whitesmoke;
        font-weight: 700;
        font-size: 1rem;
        border-radius: 30px;

    }

    button.beta:hover{
        padding: 10px 30px 10px 30px;
        margin: 20px 10px 5px 10px;
        font-family: "Poppins";
        border: solid 1px #0C9090;
        background-color: #0C9090;
        color: whitesmoke;
        font-weight: 700;
        font-size: 1rem;
        border-radius: 30px;
    }

    .home .game{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        object-fit: contain;
        animation: gameAnimate 1s ease 0s 1 normal forwards;
    }

    legend{
        font-family: "Poppins";
        font-weight: 900;
        color: whitesmoke;
        font-size: 3rem;
    }
    
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .form-text{
        display: none;
    }

    .form-container{
        padding: 0 1rem 0 1rem;
        display: flex;
        width: 100%;
        flex-direction: column;
        animation: gameAnimate 1s ease 0s 1 normal forwards;
    }

    .contact label{
        width: 100%;
        font-family: "Poppins";
        font-weight: 700;
        color: whitesmoke;
        padding: 30px 0 0 0;
    }

    .contact input{
        width: 100%;
        padding: 20px;
        border-radius: 10px;
    }

    .contact select{
        padding: 20px;
        width: 100%;
        border-radius: 10px;
    }

    .contact textarea{
        width: 100%;
        border-radius: 10px;
    }

    #tryBeta{
        padding: 20px;
        width: 100%;
        border: none;
        font-family: "Poppins";
        background-color: #0C9090;
        color: whitesmoke;
        font-weight: 700;
        font-size: 1rem;
        border-radius: px;
    }
}
